<?xml version="1.0" encoding="utf-8"?>
<robot
  name="harvest-studio-endeffector" xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="end_effector">
    <inertial>
      <origin
        xyz="-9.11500058244363E-05 0.00639552591800449 -0.001811197649131"
        rpy="0 0 0" />
      <mass
        value="0.49484420134997" />
      <inertia
        ixx="0.000184779666763685"
        ixy="-6.20479155585265E-08"
        ixz="-1.82180240805302E-06"
        iyy="0.000219324560796222"
        iyz="-1.12666169067249E-07"
        izz="0.000188487226347135" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find harvest_studio_description)/end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find harvest_studio_description)/end_effector.STL" />
      </geometry>
    </collision>
  </link>
</robot>