# FT232R XBee
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A105WANW", SYMLINK+="ttyUSB-XBee", GROUP="dialout"
# FT232H Dyna
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT5NVBAN", SYMLINK+="ttyUSB-Dyna", GROUP="dialout"
